*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display
{
    background-color: #222222;
    color: #fff;
    font-size: 1.7em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.teclas
{
    display: grid;
    background-color: #999;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.teclas > * /* utilizando seletor de todos os elementos que sejam filhos de .teclas */
{
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.teclas > *:active:before, /* todos os elementos filhos de .teclas quando tiverem o seletor :active e :before */
.teclas > .is-depressed::before /* javascript */
{
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

button
{
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

button:hover, button:active, button:focus
{
    outline: none;
}